.MobileMenu__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  height: 2.8rem;

  padding: 0 13px;

  background-color: #252525;

  cursor: pointer;
  user-select: none;
}

.MobileMenu__item:hover::after {
  content: '';
  display: block;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 5px;

  background-color: white;
}
